*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}
a{
    text-decoration: none;
    color: #7A7A7A;
}
hr{
    width: 80%;
}
.webapp{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
/* TASTI */
.btn {
    border-radius: 28px;
    color: #ffffff;
    font-size: 15px;
    padding: 15px 40px 15px 40px;
    text-decoration: none;
    background:rgba(8, 11, 18, 0.7);
    border: 1px solid white;
    /* se rimane un tasto unico */
    /* margin-right: 10px; */
  }

/* NAV BAR ASIDE */
nav{
    width: 200px;
    background: black;
    height: calc(100vh - 100px);
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}
.nav-bar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
}
.logomobile{
    width: 20px;
    display: none;
}
nav h3{
    color: white;
    padding-left: 10px;
}
.link-nav-bar{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.link-nav-bar img{
    width: 20px;
    filter: invert(44%) sepia(0%) saturate(209%) hue-rotate(189deg) brightness(97%) contrast(90%);
}
.link-nav-bar>a{
    display: flex;
    gap: 5px;
    color: #7A7A7A;
}
.link-nav-bar>a:hover{
    color: white;
    font-weight: bold;
}
.link-nav-bar>a:hover img{
    filter: invert(0%);
}
.listplaylist{
    overflow: auto;
    line-height: 30px;
    font-size: 13px;
    max-height: 200px;
}
.newplaylist{
    color: #7A7A7A;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
}
.newplaylist>i{
    font-size: 30px;
}
.features>a:hover .newplaylist{
    color: white;
}

.listplaylist a{
    color: #7A7A7A;
}
nav a:hover{
    color: white;
}
.footer-nav{
    color: #7A7A7A;
    background-color: black;
    line-height: 40px;
}

#profilo{
    color: white;
    font-weight: bold;
    margin-top: 10px;
}
#profilo>img{
    width: 20px;
    background-color: grey;
    border-radius: 40%;
}
/* NAV BAR ASIDE FINE */
.cmd-bar{
    width: 100%;
    background: #282828;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
}
.explorer{
    display:flex;
    width:calc(100% - 200px);
    height: calc(100% - 100px);
    background-color: #141922;
    flex-wrap: nowrap;
    overflow: auto;
}
.header-explorer{
    background:rgba(8, 11, 18, 0.7);
    width: calc(100vw - 200px);
    height: 80px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container-explorer{
    width:calc(100vw - 200px);
    padding: 10px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    /* background-color: antiquewhite; */
}
.card{
    width: calc(100% / 6 - 20px);
    margin: 30px 10px 10px 10px;
}
.card>img{
    width: 100%;    
}
.card-info{
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    text-align: center;
    gap: 10px;
    padding-top: 10px;
}
.title-song{
   color: white;
   font-weight: bold;
}
.subtitle-song{
   color: #7A7A7A;
   font-weight: bold;
   font-size: 0.8em;
}

.explorer-nav{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 30px;
    color: #7A7A7A;
    font-weight: bold;
    font-size: 15px;
    height: 30px;
    align-items: center;
}
.explorer-nav > a {
    display: flex;
    flex-direction: column;
   }
   
.bordosotto{
    background-color: red;
    height: 1px;
    width: 50%;
    align-self: center;
    display: none;
}
.explorer-nav>a:hover .bordosotto{
    display: block;

}
.recenti{
    /* background-color: green; */
    width: 100%;
    display: flex;
}
h2{
    font-weight: bold;
    color: white;
    padding-top: 20px;
}
@media screen and (max-width:700px) {
    nav{
        width: 50px;
        align-items: center;
    }
    .header-nav-bar img:first-child{
        display: none;
    }
    .logomobile{
        display: block;
        width: 40px;
    }
    .link-nav-bar span{
        display: none;
    }
    .link-nav-bar img{
        width:40px;
    }
  
    .nav-bar h3{
        display: none;
    }
    .features{
        display: none;
    }
    .listplaylist{
        display: none;
    }
    .footer-nav{
        display: none;
    }
    .container-explorer{
        width: calc(100vh - 50px);
        flex-grow: 1;
    }
    .btn{
        padding: 10px;
    }
    .explorer{
        width:calc(100% - 50px);
        height: 100%;
    }
    .header-explorer{
        background:rgba(8, 11, 18, 0.7);
        width: calc(100vw - 50px);
        height: 80px;

    }
    
}