*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}
a{
    text-decoration: none;
    color: #7A7A7A;
}
hr{
    width: 80%;
}
.webapp{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
/* TASTI */
.btn {
    border-radius: 28px;
    color: #ffffff;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    background:rgba(8, 11, 18, 0.7);
    border: 1px solid white;
    /* se rimane un tasto unico */
    margin-right: 20px;
  }

/* NAV BAR ASIDE */
nav{
    width: 200px;
    background: black;
    height: calc(100vh - 100px);
    padding: 20px 20px 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}
.nav-bar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
    flex: 1;
}
.logomobile{
    width: 20px;
    display: none;
}
nav h3{
    color: white;
    padding-left: 10px;
}
.link-nav-bar{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.link-nav-bar img{
    width: 20px;
    filter: invert(44%) sepia(0%) saturate(209%) hue-rotate(189deg) brightness(97%) contrast(90%);
}
.link-nav-bar>a{
    display: flex;
    gap: 5px;
    color: #7A7A7A;
}
/* white only home */
.link-nav-bar > a:nth-child(1) > span:nth-child(2) {
    color: white;
}
    /* ----------------------- */
    /* white only home img */
.link-nav-bar > a:nth-child(1) > img:nth-child(1) {
        filter: invert(0%);
}
        /* ---------------------------- */
.link-nav-bar>a:hover{
    color: white;
    font-weight: bold;
}
.link-nav-bar>a:hover img{
    filter: invert(0%);
}
.listplaylist{
    overflow: auto;
    line-height: 30px;
    font-size: 13px;
    flex-shrink: 2;
    flex-basis: 9px;
    flex-grow: 1;
}
.newplaylist{
    color: #7A7A7A;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
}
.newplaylist>i{
    font-size: 30px;
}
.features>a:hover .newplaylist{
    color: white;
}

.listplaylist a{
    color: #7A7A7A;
}
nav a:hover{
    color: white;
}
.footer-nav{
    color: #7A7A7A;
    background-color: black;
    line-height: 40px;
}

#profilo{
    color: white;
    font-weight: bold;
    margin-top: 10px;
}
.footer-nav img{
    width: 20px;
    background-color: grey;
    border-radius: 40%;
}
/* NAV BAR ASIDE FINE */

.explorer{
    display:flex;
    width:calc(100% - 200px);
    height: calc(100% - 100px);
    background-color: #141922;
    flex-wrap: nowrap;
    overflow: auto;
}
.header-explorer{
    background:rgba(8, 11, 18, 0.7);
    width: calc(100vw - 200px);
    height: 80px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.container-explorer{
    width:calc(100vw - 200px);
    padding: 10px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    /* background-color: antiquewhite; */
}
.card{
    width: calc(100% / 6 - 20px);
    margin: 30px 10px 10px 10px;
}
.card>img{
    width: 100%;    
}
.card-info{
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    text-align: center;
    gap: 10px;
    padding-top: 10px;
}
.title-song{
   color: white;
   font-weight: bold;
}
.subtitle-song{
   color: #7A7A7A;
   font-weight: bold;
   font-size: 0.8em;
}

.explorer-nav{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 20px;
    color: #7A7A7A;
    font-weight: bold;
    font-size: 12px;
    align-items: center;
    word-wrap: break-word;
    flex-wrap: wrap;
}
.explorer-nav > a {
    display: flex;
    flex-direction: column;
   }
   
.bordosotto{
    background-color: #CCFD5D;
    height: 3px;
    width: 50%;
    align-self: center;
    display: none;
}
/* fisso al primo */
.explorer-nav > a:nth-child(1) > div:nth-child(1) {
    display: block;
}
/* fisso al primo end */
.explorer-nav>a:hover .bordosotto{
    display: block;

}
.recenti{
    /* background-color: green; */
    width: 100%;
    display: flex;
}
h2{
    font-weight: bold;
    color: white;
    padding-top: 20px;
}

.recenti:nth-child(7)  div:nth-child(1n) > img:nth-child(1n){
    border-radius: 50%;
}
.cmd-bar{
    width: 100%;
    background: #282828;
    height: 100px;
    position: fixed;
    bottom: 0;
    left: 0;
}
.container-cmd-bar{
    width: 100%;
    height: 100%;
    display: flex;
    padding: 15px;
    justify-content: space-between;
}
.cmd-bar-start{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cmd-bar-mid{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.cmd-bar-end{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    color: white;
    font-size: 0.8rem;
}
.cmd-bar-start>img{
    height: 70px;
}
.info-cmd-bar{
    display: flex;
    flex-direction: column;
    font-size: .8rem;
    padding-right: 30px;
}
/* barra musicale */
.slidecontainer{
    width: 80%;
    height: 40px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.music-bar{
    border-radius: 2px;
    border: 2px solid grey;
    height: 0;
    display: flex;
    width: 400px;
}
.volume1{
    width: 150px;
    
}

.whitebar{
    width: 15%;
    height: 0;
    border-radius: 2px;
    position: relative;
    bottom: 3.7px;
    right: 2px;
    display: flex;
    justify-content: flex-end;
    color: white;
    border: 2px solid white;
}
.whitebar>i{
    position: relative;
    bottom: 8px;
    left: 10px;
    display: none;
}
.whitebar:hover{
    border: 2px lightgreen solid;
}
.whitebar:hover i{
    display: block;
}
.riproduci{
    width: 60%;
    height: 40px;
    align-self: center;
    font-size: 2rem;
    color: white;
    display: flex;
    gap: 30px;
    justify-content: center;
}
#songtiming{
    color: white;
    font-weight: bold;
    margin-right: 30px;
    font-size: 0.7rem;
}
#songduration{
    color: white;
    font-weight: bold;
    margin-left: 30px;
    font-size: 0.7rem;
}
.volumebar{
    width: 40%;
}
.span1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
    font-size: 50px;
    display: none;

}
.playhover>img{
    position: relative;
    width: 100%;
}
.playhover{
    position: relative;
}

.card .playhover:hover span{
    display: block;
}
.card .playhover:hover img{
    opacity: 0.3;
}

@media screen and (max-width:960px){

.card{
    /* width: calc(100% / 3 - 20px); */
}
}                    

@media screen and (max-width:811px) {
    .card{
        width: calc(100% / 4 - 20px);
    }
    .recenti{
        flex-wrap: wrap;
    }
    .explorer-nav{
        width: 100%;
    }
}


@media screen and (max-width:650px) {

    .card{
        width: calc(100% / 3 - 20px);
        margin: 10px;
    }
    .recenti{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:520px) {
    nav{
        width: 50px;
        align-items: center;
    }
    .header-nav-bar img:first-child{
        display: none;
    }
    .logomobile{
        display: block;
        width: 40px;
    }
    .link-nav-bar span{
        display: none;
    }
    .link-nav-bar img{
        width:40px;
    }
  
    .nav-bar h3{
        display: none;
    }
    .features{
        display: none;
    }
    .listplaylist{
        display: none;
    }
    .footer-nav{
        display: none;
    }
    .container-explorer{
        width: calc(100vh - 50px);
        flex-grow: 1;
    }
    .container-explorer>h2{
        font-size: 1.2rem;
    }
  
    .btn{
        padding: 10px;
    }
    .explorer{
        width:calc(100% - 50px);
        height: calc(100vh - 100px);
        overflow-x: hidden;
    }
    .header-explorer{
        background:rgba(8, 11, 18, 0.7);
        width: calc(100vw - 50px);
        height: 80px;
    }
    .card{
        width: calc(100% / 2 - 50px);
       
    }
    .recenti{
        flex-wrap: wrap;
    }
    .explorer-nav{
        gap: 8px;
        height: 50px;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 15px;
    }
    
}