*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    list-style: none;
}
a{
    text-decoration: none;
    color: #7A7A7A;
}
hr{
    width: 80%;
}
.webapp{
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100vh;
}
/*  */

/* NAV BAR ASIDE */
nav{
    width: 200px;
    background: black;
    height: calc(100vh - 100px);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}
.nav-bar{
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;

}
.link-nav-bar{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
}
.link-nav-bar img{
    width: 20px;
    filter: invert(44%) sepia(0%) saturate(209%) hue-rotate(189deg) brightness(97%) contrast(90%);
}
.link-nav-bar>a{
    display: flex;
    gap: 5px;
    color: #7A7A7A;
}
.link-nav-bar>a:hover{
    color: white;
    font-weight: bold;
}
.link-nav-bar>a:hover img{
    filter: invert(0%);
}
.features{
    height: 20%;
}
.newplaylist{
    color: #7A7A7A;
    font-size: 18px;
    font-weight: bold;
    display: flex;
    gap: 10px;
    align-items: center;
}
.newplaylist>i{
    font-size: 30px;
}
.features>a:hover .newplaylist{
    color: white;
}
.listplaylist{
    line-height: 30px;
}
.listplaylist a{
    color: #7A7A7A;
}
nav a:hover{
    color: white;
}
.footer-nav{
    color: #7A7A7A;
    line-height: 40px;
    background-color: black;
    min-width: 100px;
}
#profilo{
    color: white;
    font-weight: bold;
    margin-top: 10px;
}
#profilo>img{
    width: 20px;
    background-color: grey;
    border-radius: 40%;
}
/* NAV BAR ASIDE FINE */
.cmd-bar{
    width: 100%;
    background: #282828;
    height: 100px;
    position: fixed;
    bottom: 0;
    /* display: none; */
}
.explorer{
    display:flex;
    width:calc(100% - 200px);
    height: 100%;
    background-color: #141922;
    flex-wrap: wrap;
    overflow: auto;
 
}
.prova{
    width: 400px;
    height: 400px;
    background: yellow;
    border: 1px solid black;
}